




/* Global style Start From Here */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: auto;
    /*
    font-family: 'Handlee', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
    */ 
}

[class*="col-"]{
    float: left;
    padding: 15px;
}
[class*="col-"]{
    width: 100%;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;

}
.row{
    width: 100%;
}

/* Global style Ends Here */

/* header style start from here */
header{
    background:#04a19c;
    padding: 0% 1%;
    text-align: center;
}
/* header style ends here */
/* Logo Style Start From Here */

.logo{
    width: 70px;
    height: auto;
    padding: 10px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
   
}

/* Logo Style Ends Here */
/* Nav menu  Style Start From Here */
nav ul li{
    
    display: block;
}
nav ul li a{
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;

}
nav ul li a:hover{
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}

/* Nav menu  Style Ends Here */

/* banner-section-style-start-from-here */
#banner-section{
    background: url(./image/banner-image.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

}
.banner-contents{
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1{
    background-color: rgba(255,255,0,0.880);
    font-size: 3rem;
    font-family: 'Handlee', cursive;
    margin: 15px auto;
    
     

}
.banner-contents p{
    background-color: rgba(0, 128, 0);
    color: #fff;
    font-size: 1.4rem;
    margin:15px auto ;
    padding: 10px;
    width: 300px;
}
.banner-contents button{
    background-color: rgba(0, 128, 0);
    border: none;
    border-radius:  5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    transition: .8s;
    text-transform: uppercase;
    width: 160px;

}
.banner-contents button:hover{
    transform: scale(1.2);
    background-color: #fff;
    color: #000;
    transition: .4s;
}
/* banner-section-style-ends-here */

  /* About Us Section Style Start From Here */
   #about{
       padding: 1%;
   }
   .about_us_content{
       text-align: center;
   }
   .about_us_content h3{
       font-size: 2rem;
       font-weight: bolder;
       margin-top:10px ;       
   }
   .about_us_content p{
        font-size: 1rem;       
        margin-top:10px;
   }


  /* About Us Section Style Ends Here */


   /* Food Menu Section Style Start From  Here */
    #menu{
        padding: 1%;
    }
    .menu_card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
   text-align: center;
   transition: .7s;
    }
    .menu_card:hover{
        transform: scale(1.1);
       
    }
    .card-body img {
         display: block;
         height: 250px;
         max-width: 100%;
         margin:10px auto ;
    }
    .menu-disc{
    background-color: rgb(165, 164, 164);
    }  
    .item_name {
        background-color: green;
        color: #fff;
        padding: 10px;
    }
    .menu-disc > p{
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;

    }
    
    

    /* Food Menu Section Style Ends Here */
    /* Contact Section Style Start From Here */
     #contact {
         background: #595b83;
     }
     .contact-datilas{
         color: #fff;
         padding: 20px 10px;
         text-align: center;
         margin-top: 30px;

     }
     .contact-datilas p{
         font-size: 0.8rem;
         margin-top: 10px;
         padding: 5px;
     }
     .contact-datilas address {
         font-size: 0.8rem;
     }
    .map{
        text-align: center;
        width: 100;
        height: 200px;
        max-width: 100%;
        margin: 10px auto;
        


    }
    /* Contact Section Style Ends Contact*/

    /* Footer section Style Start From Here */
    footer{      
        background-color: #060930;
        color: #fff;
        padding: 1%;
    }
         footer p{
             
             font-size: 0.8rem;
             font-weight: bold;
             text-align: center;
             letter-spacing: 5px;
         }
         .socla_menus{
         text-align: center;
         }
         .icon_style{

        border: solid 2px #fff; 
        border-radius: 50%;       
        color: #fff;
        height: 32px;
        line-height: 32px;
         margin: 5px;
        width: 32px;
        transition: .5s;
         }
         .icon_style:hover{
             transform: scale(1.2);
             background: grey;
         }
    /* Footer section Style Ends Here */



@media only screen and (min-width: 427px) {
  /* For Mobile */
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 428px) {
  /* For tablets: */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For Desktop: */
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  .logo{
  text-align: left;
  }
  nav ul{
      text-align: right;
  }
   nav ul li{
      display: inline-block;


   }
   nav ul li a{
       display: inline-block;


   }
   nav ul li a:hover {
        background-color: transparent !important;
        transform: scale(1.1);
        text-decoration: underline;


    }

    #banner-section{
      
    }
    .banner-contents{
      
       
    }
     .banner-contents h1{
         width: 700px;
         font: 3.5rem;
     }
     .footer-disc p{
         text-align: left;
     }
     .socla_menus{
         text-align: right;
     }
     .icon_style{
         text-align: center;
     }
}



